<IfModule mod_rewrite.c>

    RewriteEngine On
 
     # we rewrite all other files with .something to /web
     RewriteCond %{REQUEST_URI} \..+$
     RewriteCond %{REQUEST_URI} !\.html$
     RewriteRule ^(.*)$ /web/$1 [L]

     RewriteRule ^(.*)$ /web/index.php [QSA,L]
 
</IfModule>