parameters:
    database_host:     '%env.database_host%'
    database_port:     ~
    database_name:     '%env.database_name%'
    database_user:     '%env.database_user%'
    database_password: '%env.database_password%'

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            '%env.secret%'
